<% content_for :lists do %>
	<table class="table table-striped">
	<% @lists.each do |list| %>
		<%= @list.list_row list %>
	<% end %>
	</table>
<% end %>

<% content_for :items do %>
  <%= render 'shared/create_items', list: @list %>
  <%= render 'shared/item_table', items: @items %>
<% end %>