<div class="container">
  <div class="row">
    <div class="span4">
      <%= render 'shared/list_table', lists: @lists %>
      <br />
      <%= render 'shared/create_lists' %>
    </div>
    <div class="span8">
    </div>
  </div>
</div>