<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="span4">
      <table>
      <% @lists.each do |list| %>
        <%= render 'list_row', list: list %>
      <% end %>
      </table>

      <br />

      <%= render 'create' %>
    </div>
    <div class="span8">
    </div>
  </div>
</div>