<div class="container-fluid">
  <%= render 'shared/messages' %>
  <div class="row-fluid">
    <div class="span4">
			<%= render 'shared/list_table', lists: @lists, current_list_id: @list.id %>
    </div>
    <div class="span4">
      <%= render 'shared/item_table', items: @items, current_item: @item %>
    </div>
    <div class="span4">
    	<%= render 'form', item: @item, list: @list %>
    </div>
  </div>
</div>
