<div class="container">
  <div class="row">
    <div class="span4">
			<%= render 'shared/list_table', lists: @lists %>
    </div>
    <div class="span4">
      <%= render 'shared/item_table', items: @items %>
    </div>
    <div class="span4">
    	<%= render 'form', item: @item, list: @list %>
    </div>
  </div>
</div>